{% extends 'base.html' %}


{% block content %}
<nav style="margin-top: 80px" aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="{% url 'books:book-list' %}">Home</a></li>
    <li class="breadcrumb-item"><a href="{{ chapter.books.get_absolute_url }}">{{ chapter.books.slug}}</a></li>
    <li class="breadcrumb-item active">{{ chapter.chapter_number }}</li>
  </ol>
</nav>

<!-- Grid row-->
    <div class="row mb-4">
    <!-- Grid column-->
    <div class="col-md-4 text-left mt-3 mx-2">
        <!-- Card-->
        <div class="card">
        <!-- Card image-->
        <div class="view overlay">
            <img src="{{ chapter.books.cover.url }}" class="card-img-top"
            alt="Sample image">
            <a>
            <div class="mask rgba-white-slight"></div>
            </a>
        </div>
        <!-- Card image-->
        <!-- Card content-->
        <div class="card-body">
            <!-- Title-->
            <div class="row">
            {% for author in chapter.books.authors.all %}
             <a class="col font-small font-weight-bold blue-text mb-0">{{ author }}</a>
            {% endfor %}
            <span class="col text-right font-small font-weight-bold dark-grey-text mb-1"><i class="far fa-clock-o"></i>
            {{ chapter.books.publication_date|date}}</span>
            </div>
            <br>           
            <button type="button" class="btn btn-warning btn-block"><strong><i class="fas fa-shopping-cart white-text" aria-hidden="true"></i> Add to Cart</strong></button>
        </div>
        <!-- Card content-->
        </div>
        <!-- Card-->
    </div>
    <!-- Grid column-->
    <!-- Section: Categories-->
 
    <div class="col-md-6 mx-5 mb-5">
    <h5 class="card-title">{{ chapter.books.title }}</h5>
    <br>
    <h4 class="font-weight-bold mt-2"><strong>EXERCISES</strong></h4>
    <hr class="blue title-hr">
    <ul class="list-group z-depth-1 mt-4">
        {% for exercise in chapter.exercise_set.all %}
        <li class="list-group-item d-flex justify-content-between align-items-center">
        <a href="{{ exercise.get_absolute_url }}">{{ exercise.title }}</a>
        <span class="badge badge-danger badge-pill">{{ exercise.exercise_number }}</span>
        </li>
        {% endfor %}        
    </ul>
    </div>
    <!-- Section: Categories-->
{% endblock content %}