{% extends 'base.html' %}


{% block content %}
<nav style="margin-top: 80px" aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="{% url 'books:book-list' %}">Home</a></li>
    <li class="breadcrumb-item"><a href="{{ exercise.chapter.books.get_absolute_url }}">{{ exercise.chapter.books.slug}}</a></li>
    <li class="breadcrumb-item"><a href="{{ exercise.chapter.get_absolute_url }}">{{ exercise.chapter.chapter_number }}</a></li>
    <li class="breadcrumb-item active">{{ exercise.exercise_number }}</li>
  </ol>
</nav>

<!-- Grid row-->
    <div class="row mb-4">
    <!-- Grid column-->
    <div class="col-md-4 text-left mt-3 mx-2">
        <!-- Card-->
        <div class="card">
        <!-- Card image-->
        <div class="view overlay">
            <img src="{{ exercise.chapter.books.cover.url }}" class="card-img-top"
            alt="Sample image">
            <a>
            <div class="mask rgba-white-slight"></div>
            </a>
        </div>
        <!-- Card image-->
        <!-- Card content-->
        <div class="card-body">
            <!-- Title-->
            <div class="row">
            {% for author in exercise.chapter.books.authors.all %}
             <a class="col font-small font-weight-bold blue-text mb-0">{{ author }}</a>
            {% endfor %}
            <span class="col text-right font-small font-weight-bold dark-grey-text mb-1"><i class="far fa-clock-o"></i>
            {{ exercise.chapter.books.publication_date|date}}</span>
            </div>
            <br>           
            <button type="button" class="btn btn-warning btn-block"><strong><i class="fas fa-shopping-cart white-text" aria-hidden="true"></i> Add to Cart</strong></button>
        </div>
        <!-- Card content-->
        </div>
        <!-- Card-->
    </div>
    <!-- Grid column-->
    <!-- Section: Categories-->
 
    <div class="col-md-6 mx-5 mb-5">
    <h5 class="card-title">{{ exercise.chapter.books.title }}</h5>
    <br>
    <h4 class="font-weight-bold mt-2"><strong>SOLUTIONS</strong></h4>
    <hr class="blue title-hr">
        {% for solution in exercise.solution_set.all %}
        <!-- Buttons trigger collapse -->
        <p>
        <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
            Solution: {{ solution.solution_number }}
        </button>
        </p>
        <div class="collapse" id="collapseExample">
        <div class="card card-body">
            <img src="{{ solution.image.url }}" alt="">
        </div>
        </div>
    {% endfor %}        
    </div>
    <!-- Section: Categories-->
{% endblock content %}